@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

:root{ /* Main Vairables and font*/
    --main-font: sans-serif;
	--font-size: 16px;
    --main-color:#3BFFEB;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/******************************** Header Start***************************************/

.navbar-background{
    height: 10em;
}

.content-navbar{
    display: inline;
}


.menu li{
    display:inline-block
}
.content-nav1{
    position: absolute;
    left: 40px;
    right: 40px;
    top:1.5em
}


#logo{
    display: inline-block;
    z-index: 999;
}

.menu-nav{
    position:absolute;
    right: 0;
    top:1.5em
}

.menu-nav a{
    padding:1em;
    font-size:23px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    
}

.menu-navbar1{
    display: none;
}

/******************************** Header End***************************************/

/******************************** Hero Start***************************************/


.hero{
    margin-top: 6em;
    text-align:center;
    font-size: 2em;

}

#myname{
    display:inline;
    color: #3BFFEB;

}

#main-title{
    display: inline-block;
}

.icons{
    margin-top: 0.5em;
}

.icons > *{
    height: 1.4em;
    border:0
}

.menu-ham{
    display: none;
}


/******************************** Hero End***************************************/
/******************************** content start***************************************/

.content{
    margin: 7em 40px 0 40px; 
    position: relative;
    
    
}

#title-notes{
    border-bottom: 1px solid black;
}

.notes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
   
}

.note{
    margin-top: 32px;
   /*height: 3empx;*/
    width: 26vw;
    display: flex;
    justify-content: center;
    background-color: #ECE9E9;
    align-items: center;
    position: relative;
    
    
}



.javascrip img{
   /* height: 20vh;*/
    display: block;
   width: 18vw;
   margin:3em;
}


.note p{
    position: absolute;
    bottom: -10px;
    font-size: 2.2em;
    line-height: 61px;
}


.section{
    margin-top: 3em 
}



.footer{
    background: #174E66;
    margin-top: 3rem;
    height: 8rem;
    
    
}

.footer div{
    margin-top:1.5em
}

.footer .contenido{
    display: flex;
    justify-content: space-around;
}


.contact-footer{
    display: flex;
    flex-direction: column;
    
}

.contact-footer h3{
    margin-bottom: 0.5em;    
}



.contact-footer a{
    text-decoration: none;
    color: black;
    font-size: bold;
}


.contact-copyright , .contact-bio{
    
    padding-top: 2em;
}

.contenido{
    /* background-color: #174E66; */
}

/* responsive */
 
@media(min-width: 1200px) {
    


    header{
        max-width: 1200px;
        
    }
    
    .navbar-background{
        display: none;
        
    }
    
    .content-nav1{
        position: relative;
        display: flex;
        justify-content: space-between;    
        margin: 0 4em 0 0;
    }

    .contenido{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        /* display: flex;
        flex-direction: column; */
    }

    .note{
        width: 350px;
    }

    .javascrip img{
        /* height: 20vh;*/
         display: block;
        width: 250px;
        margin:3em;
     }


      .footer{
         /* position: absolute; */
         bottom: 0;
         width: 100vw;
     } 

} 

@media (max-width: 767px) { 
    .background-menu{
        background-color: black;
        width: 100%;
        height: 100%;
    }
    

    .header{
        z-index: 10000;
    }
        .menu{
            display: flex;
            flex-direction: column;
            align-items: center;    
            transform:translate( 0,0) ;
            padding: 0;
        }
        

        .menu-nav{
            position:relative
        }
        .navbar-background{
            height: 0em;
        }


        .menu li{
            margin: 0.5em;
        }
        
        .is-active{
            display: flex;
            flex-direction: column;
            align-items: center;    
            transform:translate( 0,0);
            background-color: white;
        }
        
        .is-active a{
            text-decoration: none;
            color:rgba(0, 0,0, 0.8)  ;
            font-size: 1.8em;
            padding: .5em;
        }
        
        
        
        .panel{
            position: relative;
            transition: transform 0.3s ease;
            transform:translate( 0,-200%) 
            
        }
        
        .panel.is-active {
            transform:translate( 0, 0)  
        }
        
        .menu-ham{
            display: inline;
        }

        .content-nav1{
            display: flex;
            justify-content: space-between;
        }
        
        .hero{
            margin-top: 2.5em;
            text-align:center;
            font-size: 2em;

        }

        .notes{
            grid-template-columns: repeat(2, 1fr);          
        }

        
        .background-all{
            background-color: rgba(0, 0,0, 0.8);    
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: 100;
            
        }

} 